.app {
  background-color: white;
  display: grid;
  place-items: center;
  margin: auto;
  padding: 40px;
}
.app_container {
  width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 32px 0;
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.76);
  background: repeating-linear-gradient(
    #ebdfc2,
    #ebdfc2 30px,
    rgb(193, 198, 247) 31px,
    rgb(193, 198, 247) 32px
  );
}
.app_inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px 4px;
}
.app_todoContainer {
  flex: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app_headingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app_footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.buttonPrimary {
  margin-right: 8px;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 50px;
}
.buttonPrimaryLarge {
  margin-right: 8px;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 120px;
}
